<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<select id="checkEmail" resultType="string" parameterType="string">
	<!-- Q. query문을 작성하시오.  resultType을 작성하시오.  parameterType을 작성하시오.  -->
	select email from members where email=#{email}
	</select>
</mapper>
